<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Cari Penduduk Berdasarkan Kota</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" th:href="@{../../css/bootstrap.min.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{../../css/bootstrap-theme.css}" />
	</head>
	<body>
		<div th:replace="fragments/fragment :: navbar"></div>
		<br/>
		<br/>
		<br/>
		<br/>
		<div class="container">
			<form th:action="'/penduduk/cari'" method="get">
				<div>
					<label for="kt">Kota/Kabupaten</label>
					<select  class="form-control" name="kt" th:value="${kt}">
						<option th:each="kota,iterationStatus: ${kotas}" th:text="${kota.namaKota}" th:value="${kota.id}" th:selected="${kota.id == kt}">Nama Kota</option>
					</select>
				</div>
				<br/>
				<div>
					<label for="kc">Kecamatan</label>
					<select th:if="${kecamatans != null}" class="form-control" name="kc">
						<option th:each="kecamatan,iterationStatus: ${kecamatans}" th:text="${kecamatan.namaKecamatan}" th:value="${kecamatan.id}" th:selected="${kecamatan.id == kc}">Nama Kecamatan</option>
					</select>
				</div>
				<br/>
				<div>
					<label for="kl">Kelurahan</label>
					<select th:if="${kelurahans != null}" class="form-control" name="kl">
						<option th:each="kelurahan,iterationStatus: ${kelurahans}" th:text="${kelurahan.namaKelurahan}" th:value="${kelurahan.id}" th:selected="${kelurahan.id == kl}">Nama Kecamatan</option>
					</select>
				</div>
				<br/>
				<div>
					<button class="btn btn-primary">Lihat</button>
				</div>
			</form>
		</div>		
	</body>
</html>