<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Ubah Data Keluarga</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" th:href="@{../../css/bootstrap.min.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{../../css/bootstrap-theme.css}" />
	</head>
	<body>
		<div th:replace="fragments/fragment :: navbar"></div>
		<br/>
		<br/>
		<br/>
		<div class="container">
			<h3><b>Ubah Keluarga</b></h3><br/><br/>
			<form th:action="'/keluarga/ubah/' + ${keluarga.nomorKk}" method="post" th:object="${keluarga}">
				<div>
					<label for="nama">Alamat</label>
					<input class="form-control" type="text" name="alamat" th:value="${keluarga.alamat}" th:field="*{alamat}" placeholder="Alamat Keluarga"/>
				</div>
				<br/>
				<div>
					<label for="tempatLahir">RT</label>
					<input class="form-control" type="text" name="rt" th:value="${keluarga.rt}" th:field="*{rt}" placeholder="RT"/>
				</div>
				<br/>
				<div>
					<label for="tempatLahir">RW</label>
					<input class="form-control" type="text" name="rw" th:value="${keluarga.rw}" th:field="*{rw}" placeholder="RW"/>
				</div>
				<br/>
				<div>
					<label for="tempatLahir">Kelurahan/Desa</label>
					<input class="form-control" type="text" name="kelurahan" th:value="${keluarga.namaKelurahan}" th:field="*{namaKelurahan}" />
				</div>
				<br/>
				<div>
					<label for="tempatLahir">Kecamatan</label>
					<input class="form-control" type="text" name="kecamatan" th:value="${keluarga.namaKecamatan}" th:field="*{namaKecamatan}" placeholder="Kecamatan"/>
				</div>
				<br/>
				<div>
					<label for="tempatLahir">Kota</label>
					<input class="form-control" type="text" name="kota" th:value="${keluarga.namaKota}" th:field="*{namaKota}" placeholder="Kota"/>
				</div>
				<br/>
				<div>
					<button class="btn btn-primary" type="submit" name="action" value="save">Simpan</button>
				</div>
			</form>
			<br/>
			<br/>
			<br/>
		</div>
	</body>
</html>